<mat-card style="width: 80%" class="slide-bottom">
  <mat-card-header class="card-header">
    <mat-card-title class="card-header__title text-focus-in"
      >Create Doctor</mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <form class="tp-form">
      <h3 class="card-section">Personal information</h3>
      <section class="section-information">
        <mat-form-field appearance="outline" class="box">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Placeholder" />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="box">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="box">
          <mat-label>Professional Id</mat-label>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
      </section>

      <h3 class="card-section">Hospital</h3>
      <section class="section-information">
        <mat-form-field class="box" appearance="outline">
          <mat-label>Hospital</mat-label>
          <mat-select [(ngModel)]="selectedValueHospital" name="hospital">
            <mat-option
              *ngFor="let hospital of hospitals"
              [value]="hospital.id"
            >
              {{ hospital.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="box" appearance="outline">
          <mat-label>Área</mat-label>
          <mat-select [(ngModel)]="selectedValueArea" name="area">
            <mat-option *ngFor="let area of areas" [value]="area.id">
              {{ area.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
    </form>
  </mat-card-content>

  <mat-card-actions align="end" style="margin-bottom: 2rem">
    <button mat-raised-button class="btn-actions bg-primary">Save</button>
    <button mat-raised-button class="btn-actions bg-cancel">Cancel</button>
  </mat-card-actions>
</mat-card>
