:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
  background-color: #b2bec3;
  border: 0px;
  color: #13322b;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  background-color: #f5f6fa;
}

.loader-position {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10%;
  z-index: 100;
}
